{%  extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block title %}Creation d'un Article{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">
            {% if editMode %}
            Formulaire de modification
            {% else %}
            Formulaire de création
            {% endif %}
        </h1>
        {{ form_start(formArticle) }}

        {{ form_row(formArticle.title, {'label':"Titre de l'article",'attr':{'placeholder':"Titre de l'article"}}) }}
        <small id="titre" class="form-text text-muted">Doit contenir entre 10 et 255 caractères</small>
        {{ form_row(formArticle.category) }}
        {{ form_row(formArticle.content, {'label':"Contenu de l'article",'attr':{'placeholder':"Contenu de l'article"}}) }}
        <small id="emailHelp" class="form-text text-muted">Doit contenir au minimun 255 caractères</small>
        {{ form_row(formArticle.image, {'attr':{'placeholder':"URL de l'article"}}) }}

        <button type="submit" class="btn btn-primary">
            {% if editMode %}
            Enregistrer les modifications
            {% else %}
            Ajouter l'article
            {% endif %}
        </button>

        {{ form_end(formArticle) }}
    </div>
{% endblock body %}